.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-card-font-weight, 410);
  font-family: var(--main-font), sans-serif;
  background-attachment: fixed;
  background-image: var(--body-gradient);
  background-color: white;
}

.header {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  font-family: var(--accent-font);
  margin: 97px auto;
  inline-size: calc((700 / 1440) * 100vw);
  padding-block: 130px;
  min-inline-size: 375px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 50px;
} 

.card {
  inline-size: calc((700 / 1440) * 100vw);
  border: 2px solid black;
  background-color: white;
  overflow: hidden;
  min-inline-size: 375px;
}

.card__title {
  font-variation-settings: 'wght' var(--card-title-font-weight, 715);
  font-size: 18px;
  margin: 5px 10px;
}

.card__image-container {
  position: relative;
  border: 2px solid black;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__logo {
  position: absolute;
  z-index: 2;
  inset-block-start: 25px;
  inset-inline-end: calc(25/696*100%);
  text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0 1px white;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__logo {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.card__image {
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  block-size: 100%;
}

.filter-warm-tint {
  filter: sepia(0.5) hue-rotate(-20deg);
}

.filter-vivid {
  filter: saturate(3);
}

.filter-hue-shift {
  filter: hue-rotate(20deg);
}

.filter-negative {
  filter: invert(80%);
}

.filter-sepia-classic {
  filter: sepia(1);
}

.filter-strong-blur {
  filter: blur(10px); 
}

.filter-abstract-haze {
  filter: hue-rotate(90deg) contrast(0.5) blur(1px);
}

.card__description {
  border-top: 2px solid black;
  padding: 24px 26px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__description p:first-child {
  margin-block-end: 26px;
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding: 25px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button__text,
.save-icon {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.save-icon {
  fill: #fff;
}

.card .button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  inline-size: 335px;
  min-block-size: 55px;
  gap: 8px;
  margin-block-end: 100px;
}

.popup__button-container .button {
  inline-size: 100%;
  padding: 15px 0;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.popup[open] {
  margin: auto;
  display: grid;
  gap: 30px;
  border: 2px solid black;
  inline-size: calc(353/1440 * 100vw);
  min-inline-size: 353px;
  padding: 26px 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.popup[open]::backdrop {
  background-color: black;
  opacity: 0.75;
}

.popup__icon {
  min-width: 39px;
  min-height: 39px;
}

.popup__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popup__button-container:last-child .button__text {
  line-height: 0.9;
  text-transform: uppercase;
}

@media (width <= 376px) {
 .header {
    padding: 0;
    padding-block: 121px;
    min-inline-size: 320px;
    inline-size: 100%;
  }

  .card {
    inline-size: 100%;  
  }

  .card:first-child {
    margin-block-start: 5px;
  }

  .card__logo {
    inset-block-start: 23px;
    inset-inline-end: 21px;
  }

  .card__title {
    margin: 4px 10px 6px 10px;
  }

  .save-button {
    white-space: nowrap;
    inline-size: 306px;
    flex-direction: column;
    padding: 15px 20px;
  }

  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .popup[open] {
    inline-size: calc(337/375 * 100vw);
    padding: 26px 42px;
  }
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
}

.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}